.store {
  padding: 100px 0 0;

  .wrapper {
    max-width: 850px;
    margin: auto;
    padding-bottom: 70px;
    text-align: center;
    background: $white;
    border-top: 3px solid $green;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(25, 28, 37, 0.1);

    @include heading3;
    h3 {
      margin-top: 60px;
    }

    p {
      width: 500px;
      color: $gray;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin: 20px auto;
    }

    a {
      img {
        width: 120px;
      }
    }
  }
}
